pkgbase = qradiolink
	pkgdesc = VOIP (radio over IP) GNU/Linux SDR (software defined radio) transceiver application
	pkgver = 0.10.2_1
	pkgrel = 1
	url = https://codeberg.org/qradiolink/qradiolink
	arch = x86_64
	license = GPL-3.0-only
	license = MIT
	license = BSD
	license = LGPL-3.0-only
	makedepends = boost
	makedepends = limesuite
	makedepends = gst-plugins-bad
	depends = protobuf
	depends = boost-libs
	depends = qt5-base
	depends = qt5-multimedia
	depends = pulse-native-provider
	depends = log4cpp
	depends = abseil-cpp
	depends = opengl-driver
	depends = libvolk
	depends = gnuradio
	depends = gnuradio-osmosdr
	depends = soapysdr
	depends = libuhd
	depends = freedv
	depends = codec2
	depends = libftdi-compat
	depends = speex
	depends = libconfig
	depends = cppzmq
	depends = alsa-lib
	depends = libjpeg-turbo
	depends = libsndfile
	depends = gst-plugins-bad-libs
	depends = opus
	optdepends = limesuite: LimeSDR support
	source = qradiolink-0.10.2_1.tar.gz::https://codeberg.org/qradiolink/qradiolink/archive/0.10.2-1.tar.gz
	sha512sums = 92f9981cf39fe646a05a226c7b19e68d88dcb35067d55ec6acb1c20519323c6f862ec00ea2e9dd6dc2d71ff0c4226de37dbc0bddb9257696589151a68d5f15ce

pkgname = qradiolink
